.w3-metro-light-green, .w3-hover-metro-light-green:hover
{color:#fff!important;background-color:#99b433!important}
.w3-text-metro-light-green, .w3-hover-text-metro-light-green:hover
{color:#99b433!important}
.w3-border-metro-light-green, .w3-hover-border-metro-light-green:hover
{border-color:#99b433!important}

.w3-metro-green, .w3-hover-metro-green
{color:#fff!important;background-color:#00a300!important}
.w3-text-metro-green, .w3-hover-text-metro-green:hover
{color:#00a300!important}
.w3-border-metro-green, .w3-hover-border-metro-green:hover
{border-color:#00a300!important}

.w3-metro-dark-green, .w3-hover-metro-dark-green:hover
{color:#fff!important;background-color:#1e7145!important}
.w3-text-metro-dark-green, .w3-hover-text-metro-dark-green
{color:#1e7145!important}
.w3-border-metro-dark-green, .w3-hover-border-metro-dark-green:hover
{border-color:#1e7145!important}

.w3-metro-magenta, .w3-hover-metro-magenta:hover
{color:#fff!important;background-color:#ff0097!important}
.w3-text-metro-magenta, .w3-hover-text-metro-magenta:hover
{color:#ff0097!important}
.w3-border-metro-magenta, .w3-hover-border-metro-magenta:hover
{border-color:#ff0097!important}

.w3-metro-light-purple, .w3-hover-metro-light-purple:hover
{color:#fff!important;background-color:#9f00a7!important}
.w3-text-metro-light-purple, .w3-hover-text-metro-light-purple:hover
{color:#9f00a7!important}
.w3-border-metro-light-purple, .w3-hover-border-metro-light-purple:hover
{border-color:#9f00a7!important}

.w3-metro-purple, .w3-hover-metro-purple:hover
{color:#fff!important;background-color:#7e3878!important}
.w3-text-metro-purple, .w3-hover-text-metro-purple
{color:#7e3878!important}
.w3-border-metro-purple, .w3-hover-border-metro-purple:hover
{border-color:#7e3878!important}

.w3-metro-dark-purple, .w3-hover-metro-dark-purple:hover
{color:#fff!important;background-color:#603cba!important}
.w3-text-metro-dark-purple, .w3-hover-text-metro-dark-purple:hover
{color:#603cba!important}
.w3-border-metro-dark-purple, .w3-hover-border-metro-dark-purple:hover
{border-color:#603cba!important}

.w3-metro-darken, .w3-hover-metro-darken:hover
{color:#fff!important;background-color:#1d1d1d!important}
.w3-text-metro-darken, .w3-hover-text-metro-darken:hover
{color:#1d1d1d!important}
.w3-border-metro-darken, .w3-hover-border-metro-darker:hover
{border-color:#1d1d1d!important}

.w3-metro-teal, .w3-hover-metro-teal:hover
{color:#fff!important;background-color:#00aba9!important}
.w3-text-metro-teal, .w3-hover-text-metro-teal:hover
{color:#00aba9!important}
.w3-border-metro-teal, .w3-hover-border-metro-teal:hover
{border-color:#00aba9!important}

.w3-metro-light-blue, .w3-hover-metro-light-blue:hover
{color:#000!important;background-color:#eff4ff!important}
.w3-text-metro-light-blue, .w3-hover-text-metro-light-blue:hover
{color:#eff4ff!important}
.w3-border-metro-light-blue, .w3-hover-border-metro-light-blue:hover
{border-color:#eff4ff!important}

.w3-metro-blue, .w3-hover-metro-blue:hover
{color:#fff!important;background-color:#2d89ef!important}
.w3-text-metro-blue, .w3-hover-text-metro-blue:hover
{color:#2d89ef!important}
.w3-border-metro-blue, .w3-hover-border-metro-blue:hover
{border-color:#2d89ef!important}

.w3-metro-dark-blue, .w3-hover-metro-dark-blue:hover
{color:#fff!important;background-color:#2b5797!important}
.w3-text-metro-dark-blue, .w3-hover-text-metro-dark-blue:hover
{color:#2b5797!important}
.w3-border-metro-dark-blue, .w3-hover-border-metro-dark-blue:hover
{border-color:#2b5797!important}

.w3-metro-yellow, .w3-hover-metro-yellow:hover
{color:#fff!important;background-color:#ffc40d!important}
.w3-text-metro-yellow, .w3-hover-text-metro-yellow:hover
{color:#ffc40d!important}
.w3-border-metro-yellow, .w3-hover-border-metro-yellow:hover
{border-color:#ffc40d!important}

.w3-metro-orange, .w3-hover-metro-orange:hover
{color:#fff!important;background-color:#e3a21a!important}
.w3-text-metro-orange, .w3-hover-text-metro-orange:hover
{color:#e3a21a!important}
.w3-border-metro-orange, .w3-hover-border-metro-orange:hover
{border-color:#e3a21a!important}

.w3-metro-dark-orange, .w3-hover-metro-dark-orange:hover
{color:#fff!important;background-color:#da532c!important}
.w3-text-metro-dark-orange, .w3-hover-metro-dark-orange:hover
{color:#da532c!important}
.w3-border-metro-dark-orange, .w3-hover-border-metro-dark-orange:hover
{border-color:#da532c!important}

.w3-metro-red, .w3-hover-metro-red:hover
{color:#fff!important;background-color:#ee1111!important}
.w3-text-metro-red, .w3-hover-text-metro-red:hover
{color:#ee1111!important}
.w3-border-metro-red, .w3-hover-border-metro-red:hover
{border-color:#ee1111!important}

.w3-metro-dark-red, .w3-hover-metro-dark-red:hover
{color:#fff!important;background-color:#b91d47!important}
.w3-text-metro-dark-red, .w3-hover-text-metro-dark-red:hover
{color:#b91d47!important}
.w3-border-metro-dark-red, .w3-hover-border-metro-dark-red:hover
{border-color:#b91d47!important}