.w3-camo-brown, .w3-hover-camo-brown:hover
{color:#fff!important;background-color:#594d45!important}
.w3-text-camo-brown, .w3-hover-text-camo-brown:hover
{color:#594d45!important}
.w3-border-camo-brown, .w3-hover-border-camo-brown:hover
{border-color:#594d45!important}

.w3-camo-red, .w3-hover-camo-red:hover
{color:#fff!important;background-color:#79533d!important}
.w3-text-camo-red, .w3-hover-text-camo-red:hover
{color:#79533d!important}
.w3-border-camo-red, .w3-hover-border-camo-red:hover
{border-color:#79533d!important}

.w3-camo-olive, .w3-hover-camo-olive:hover
{color:#fff!important;background-color:#595142!important}
.w3-text-camo-olive, .w3-hover-text-camo-olive:hover
{color:#595142!important}
.w3-border-camo-olive, .w3-hover-border-camo-olive:hover
{border-color:#595142!important}

.w3-camo-field, .w3-hover-camo-field:hover
{color:#fff!important;background-color:#745d46!important}
.w3-text-camo-field, .w3-hover-text-camo-field:hover
{color:#745d46!important}
.w3-border-camo-field, .w3-hover-border-camo-field:hover
{border-color:#745d46!important}

.w3-camo-earth, .w3-hover-camo-earth:hover
{color:#fff!important;background-color:#ac7e54!important}
.w3-text-camo-earth, .w3-hover-text-camo-earth:hover
{color:#ac7e54!important}
.w3-border-camo-earth, .w3-hover-border-camo-earth:hover
{border-color:#ac7e54!important}

.w3-camo-sand, .w3-hover-camo-sand
{color:#fff!important;background-color:#a9947b!important}
.w3-text-camo-sand, .w3-hover-text-camo-sand:hover
{color:#a9947b!important}
.w3-border-camo-sand, .w3-hover-border-camo-sand:hover
{border-color:#a9947b!important}

.w3-camo-tan, .w3-hover-camo-tan:hover
{color:#fff!important;background-color:#b49d80!important}
.w3-text-camo-tan, .w3-hover-text-camo-tan:hover
{color:#b49d80!important}
.w3-border-camo-tan, .w3-hover-border-camo-tan:hover
{border-color:#b49d80!important}

.w3-camo-sandstone, .w3-hover-camo-sandstone:hover
{color:#fff!important;background-color:#bcab90!important}
.w3-text-camo-sandstone, .w3-hover-text-camo-sandstone:hover
{color:#bcab90!important}
.w3-border-camo-sandstone, .w3-hover-border-camo-sandstone:hover
{border-color:#bcab90!important}

.w3-camo-dark-green, .w3-hover-camo-dark-green:hover
{color:#fff!important;background-color:#535640!important}
.w3-text-camo-dark-green, .w3-hover-text-camo-dark-green:hover
{color:#535640!important}
.w3-border-camo-dark-green, .w3-hover-border-camo-dark-green:hover
{border-color:#535640!important}

.w3-camo-forest, .w3-hover-camo-forest:hover
{color:#fff!important;background-color:#54504b!important}
.w3-text-camo-forest, .w3-hover-text-camo-forest:hover
{color:#54504b!important}
.w3-border-camo-forest, .w3-hover-border-camo-forest:hover
{border-color:#54504b!important}

.w3-camo-light-green, .w3-hover-camo-light-green:hover
{color:#fff!important;background-color:#63613e!important}
.w3-text-camo-light-green, .w3-hover-text-camo-light-green:hover
{color:#64613e!important}
.w3-border-camo-light-green, .w3-hover-border-camo-light-green:hover
{border-color:#64613e!important}

.w3-camo-green, .w3-hover-camo-green:hover
{color:#fff!important;background-color:#4a5444!important}
.w3-text-camo-green, .w3-hover-text-camo-green:hover
{color:#4a5444!important}
.w3-border-camo-green, .w3-hover-border-camo-green:hover
{border-color:#4a5444!important}

.w3-camo-dark-gray, .w3-hover-camo-dark-gray:hover, .w3-camo-dark-grey, .w3-hover-camo-dark-grey:hover
{color:#fff!important;background-color:#5c5c5b!important}
.w3-text-camo-dark-gray, .w3-hover-text-camo-dark-gray:hover, .w3-text-camo-dark-grey, .w3-hover-text-camo-dark-grey:hover
{color:#5c5c5b!important}
.w3-border-camo-dark-gray, .w3-hover-border-camo-dark-gray:hover, .w3-border-camo-dark-grey,  .w3-hover-border-camo-dark-grey:hover
{border-color:#5c5c5b!important}

.w3-camo-gray, .w3-hover-camo-gray:hover, .w3-camo-grey, .w3-hover-camo-grey:hover
{color:#fff!important;background-color:#9495a5!important}
.w3-text-camo-gray, .w3-hover-text-camo-gray:hover, .w3-text-camo-grey, .w3-hover-text-camo-grey:hover
{color:#9495a5!important}
.w3-border-camo-gray, .w3-hover-border-camo-gray:hover, .w3-border-camo-grey, .w3-hover-border-camo-grey:hover
{border-color:#9495a5!important}

.w3-camo-black, .w3-hover-camo-black:hover
{color:#fff!important;background-color:#373538!important}
.w3-text-camo-black, .w3-hover-text-camo-black:hover
{color:#373538!important}
.w3-border-camo-black, .w3-hover-border-camo-black:hover
{border-color:#373538!important}